<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Blog sobre Framework de desarrollo existentes</title>
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href={% static "css/styles.css" %} rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-dark bg-dark" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="/" target="blank">Django</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/about">Quienes somos</a></li>
                        {% if request.user.is_authenticated %}
                            <li class="nav-item dropdown"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/account/logout">Logout</a></li>
                            <li class="nav-item dropdown"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/account/editar">Editar cuenta</a></li>
                           
                        {% else %}
                            <li class="nav-item dropdown"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/account/login">Login</a></li>
                            <li class="nav-item dropdown"><a class="nav-link px-lg-3 py-3 py-lg-4" href="/account/registro">Registro</a></li>
                        {% endif %}
                        
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Header-->
        {% block img_fondo %}
        <header class="masthead" style="background-image: url({% static 'assets/img/home-bg.jpg'%})">
         {% endblock img_fondo %}
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                         <div class="site-heading">
                            {% block titulo_pagina %}                     
                                <h1>Curso Django</h1>
                            {% endblock titulo_pagina %}
                            <span class="subheading">Un Blog desarollado en Django</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        

        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    {% block nemu_post %}
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <div class="container-fluid">
                                
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                                    <li class="nav-item">                                    
                                    <a class="nav-link " href="{% url 'crear_framework' %}">Agregar página</a>
                                    </li>
                                    <li class="nav-item">
                                    <a class="nav-link " href="{% url 'lista_framework' %}">| Listar paginas </a>
                                    </li>
                                </ul>
                                
                                </div>
                            </div>
                        </nav>
                        <br>
                    {% endblock nemu_post %}

                    {% block despiegue_datos %}
                    
                    <div class="post-preview">
                        {% if msj %}
                            {{msj}}
                        {% endif %}

                            <h2 class="post-title">Django el framework para desarrollo web</h2>
                            <h3 class="post-subtitle">Django es un framework de desarrollo web de código abierto, escrito en Python, que respeta el patrón de diseño conocido como modelo–vista–controlador.</h3>
                        
                        
                    </div>
                    {% endblock despiegue_datos %}
                    <!-- Divider-->
                    
                    <hr class="my-4" />
                    
                    
                    <!-- Pager-->
                </div>
            </div>
        </div>
        <!-- Footer-->
        <footer class="border-top">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <ul class="list-inline text-center">
                            
                            
                            
                        </ul>
                        <div class="small text-center text-muted fst-italic">Copyright &copy; Curso Python </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static "js/scripts.js" %}"></script>
    </body>
</html>
