{% extends "indice/index.html" %}

{% block titulo_pagina  %}
    <h1>Quienes somos</h1>
{% endblock titulo_pagina %}

{% block nemu_post %}
{% endblock nemu_post %}

{% block despiegue_datos %}
    
    <h1>Estudiantes del curso de Python impartido por CoderHouse</h1>
<br><br>
    <strong>Nicolas Palassoli:</strong>
    <br>
    Estudiante de tercer año de Ingeniería Biomedica en Universidad Austral. Me caracterizo por buena organización y planeamiento de soluciones a problemas y facilidad para el trabajo en equipo.
    <br>
    <br>
    <strong>Pablo Flores:</strong><br>
    Ingeniero Informático senior, egresado del Magíster en Redes de Comunicación, Diplomado en Seguridad Computacional con amplios conocimientos en  administración de sistemas, clara orientación hacia GNU/Linux, desarrollo de sistemas, seguridad Informática, HPC, DevOps, Metodologías Ágil, Smart Cities e IoT.   
Me caracterizo por mi proactividad, liderazgo, alta capacidad de resolución de  problemas y trabajo en equipo. 


     

{% endblock despiegue_datos %}