{% extends 'indice/index.html' %}

{% block titulo_pagina %}
<h3> Crear nueva entradas de Framework de trabajos </h3>
{% endblock titulo_pagina %}

{% block despiegue_datos %}
    {% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <form action={% url 'crear_framework' %} method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <table class="table">
            {{form.as_table}}
        </table>
<br>
        <input type="submit" class="btn btn-primary text-uppercase" value="Crear">
    </form>

{% endblock despiegue_datos %}