{% extends 'indice/index.html' %}

{% block titulo_pagina %}
{% endblock titulo_pagina %}

{% block despiegue_datos %}
    <p><a href={% url 'lista_framework' %}>Volver</a></p>

    <p>
    
    
    <div class="row">
        
        <div class="col-8">
            <div class="col-12">
                <strong>Framework:</strong> {{object.framework}}
            </div>
            <div class="col-12">
                <strong>Lenguaje:</strong> {{object.lenguaje}}
            </div>
            <div class="col-12">
                <strong>Orientado a:</strong> {{object.orientacion}}
            </div>
            <div class="col-12">
                <strong>Desarollado por:</strong> {{object.autor}}
            </div>
            <div class="col-12">
                <strong>Tipo:</strong> {{object.tipo}}
            </div>
            <div class="col-12">
                Fecha post:</strong> {{object.fecha}}
            </div>
            <div class="col-12">
                <strong>¿Qué es {{object.framework}}?</strong><br>{{object.descripcion | safe}}
            </div>
        </div>
        <div class="col-4">
            <img src="/media/{{object.imagen}}"  height='300' width='300' >
        </div>
    </div>
    
    </p>
   
{% endblock despiegue_datos %}