{% extends 'indice/index.html' %}

{% block titulo_pagina %}
Edición de Framework de desarrollo
{% endblock titulo_pagina %}

{% block despiegue_datos %}

{% load static %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script> 
    <p><a href={% url 'lista_framework' %}>Volver</a></p>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <table class="table">
            {{form.as_table}}
        </table>
        <br>
        <input type="submit" class="btn btn-primary text-uppercase" value="Editar">
    </form>
   
{% endblock despiegue_datos %}