{% extends 'indice/index.html' %}

{% block titulo_pagina %}
Eliminación de Framework de desarrollo
{% endblock titulo_pagina %}

{% block despiegue_datos %}
    
    <p><a href={% url 'lista_framework' %}>Volver</a></p>

    <form action="" method="post">
        {% csrf_token %}

        Está seguro de querer borrar {{object}}??
        <p>
        <input type="submit" class="btn btn-primary text-uppercase" value="Borrar">
        </p>
    </form>       
   
{% endblock despiegue_datos %}