{% extends 'indice/index.html' %}

{% block titulo_pagina %}
<h3> Buscar entradas de Framework de trabajos </h3>
{% endblock titulo_pagina %}

{% block despiegue_datos %}
    
    <form action="{% url 'lista_framework' %}" method="get">
        {% csrf_token %}
        <div class="mb-3 row">
            <div class="col-sm-10">
                <table class="table">
                    {{buscador.as_table}}
                </table>
            </div>
            <div class="col-sm-2">
                <input type="submit" class="btn btn-primary text-uppercase" value="Buscar">
            </div>
        </div>
    </form>
        <p>
        {% if framework_buscar|length > 0 %}
            
            {% for framework in framework_buscar %}
            <li>
                <a href={% url 'detalle_framework' framework.id %}>{{framework}}</a> 
                {% if request.user.is_authenticated %}
                    | <a href={% url 'editar_framework' framework.id %} class="btn btn-lg btn-sm">Editar</a>
                    | <a href={% url 'borrar_framework' framework.id %} class="btn btn-lg btn-sm">Borrar</a>
                {% endif %}
            </li>

            {% endfor %}
        {% else %}
            <h1>No hay paginas registradas</h1>
        {% endif %}
        </p>
{% endblock despiegue_datos %}