{% extends 'indice/index.html' %}

{% block titulo_pagina %}
<h3> Login de usuario </h3>
{% endblock titulo_pagina %}

{% block despiegue_datos %}

    {% if msj %}
        {{msj}}
    {% endif %}
    
    <form action={% url 'editar_usuario' %} method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <img src="{{user_avatar_url}}"  height='40'>
        <table class="table">
            {{form.as_table}}
        </table>
<br>
        <input type="submit" class="btn btn-primary text-uppercase" value="Editar">
    </form>

{% endblock despiegue_datos %}