{% extends 'indice/index.html' %}

{% block titulo_pagina %}
<h3> Login de usuario </h3>
{% endblock titulo_pagina %}

{% block despiegue_datos %}
    
    <h2>Te has deslogueado correctamente</h2>

{% endblock despiegue_datos %}