{% extends 'indice/index.html' %}

{% block titulo_pagina %}
<h3> Login de usuario </h3>
{% endblock titulo_pagina %}

{% block despiegue_datos %}
    
    {% if msj %}
        {{msj}}
    {% endif %}

    <form action={% url 'registro' %} method="post">
        {% csrf_token %}

        <table class="table">
            {{form.as_table}}
        </table>
<br>
        <input type="submit" class="btn btn-primary text-uppercase" value="Registrarse">
    </form>

{% endblock despiegue_datos %}